table {
  padding-bottom: 20px;
  width: 40vw;
  margin: auto;
}

th {
  padding: 0 20px 20px;
}

td {
  padding: 0 20px 20px;
  min-width: 9ch;
}

td strong{
  color: inherit;
  transition: color 500ms ease-out 2ms;
}

td strong:hover {
  color: var(--main-darkgreen);
}

@media only screen and  (max-width: 768px) {
  
  table {
    width: 90vw;
    margin: auto;
  }
      
  th {
    padding: 10px 0 0;
  }

  td {
    width: 75%;
  }

  td strong {
    padding-right: 20px;
  }
  
}