.projectpage {
	width: 90%;
	padding-bottom: 50px;
	margin-top: 100px;
}
.container {
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
}

.left {
	float: left;
}

.h3, .h4 {
	text-align: left;
	padding: 0;
}

.right {
	float: right;
	padding-bottom: 30px;
}

.right p {
	margin: 10px 0;
}

@media (max-width: 480px) {
	.left, .right {
		display: block;
		width: 100%;
	}
}