.bio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 40px;
  max-width: 90vw;
}

.profilePhoto {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 5px 50px 10px;
  display: inline-block;
}

.bioText {
  margin: 0 auto;
  max-width: 60ch;
}

@media only screen and (max-width: 1024px){
}

@media (max-width: 768px) {

  .bio {
    display: block;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
  }
  
}