.bio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.bio img {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 5px 50px 10px;
}

@media (max-width: 480px) {

  .bio {
    display: block;
    text-align: center;
  }

  .bio img {
  }
  
}