.carousel {
	width: 90%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 20px;
}

.arrows {
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	position: relative;
	top: -300px;
}

.arrowLeft, .arrowRight {
	width: 32px;
	height: auto;
	cursor: pointer;
	box-shadow: 0 0 9px 3px rgba(41,41,41,.125);
	border-radius: 50%;
	background-color: var(--main-beige);
}

.arrowLeft {
	margin-left: 2%;
}

.arrowRight {
	margin-right: 2%;
}

.slides img {
	width: 100%;
	height: auto;
	box-shadow: 0 0 9px 3px rgba(41,41,41,.125);
}

.dotsContainer {
	display: flex;
	justify-content: center;
}

.dots {
	font-size: 24px;
	cursor: pointer;
	margin: 0 3px;
	color: var(--main-darkgrey);
}

@media (max-width: 700px) {
	.carousel, .dotsContainer {
		display: none;
	}
}



