.contact {
	margin-top: 30px;
}

.contact img {
	position:absolute;
    z-index:0;
    height: 300px;
    width: 100%;
}

.contactInfo{
	position: relative;
    z-index:1;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact h3 {
	color: var(--main-beige);
	font-size: 1.75rem;
	line-height: 1.5;
}

.contact p {
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-size: 1.25rem;
	padding-bottom: 15px;
}

.email {
	font-weight: 700;
	color: var(--main-darkgreen);
	background-color: var(--background-color);
	border-radius: 20px;
	padding: 12px 10px 0;
	width: 250px;
}


