.contact img {
	position:absolute;
    z-index:0;
    height: 300px;
    width: 100%;
}

.contact div{
	position: relative;
    z-index:1;
    padding: 50px;
}

.contact h3 {
	position: relative;
	margin: 0 auto;
	color: var(--main-beige);
	font-size: 1.75rem;
	padding-bottom: 20px;
}

.contact p {
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-size: 1.25rem;
	padding-bottom: 15px;
}

.email {
	font-weight: 700;
	color: var(--main-darkgreen);
	background-color: var(--background-color);
	border-radius: 20px;
	padding: 12px 10px 0;
	width: 250px;
}


