.feature ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-left: 24px;
}

.feature li {
  width: 130px;
}

ul.skill li {
  width: 220px;
}

.programlang img {
  width: 20px;
  height: auto;
  padding-right: 10px;
  margin-bottom: -3px;
}

.skill img {
  width: 24px;
  height: auto;
  padding-right: 10px;
  vertical-align: middle;
}