.feature ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-left: 24px;
  padding-bottom: 10px;
}

.feature li {
  width: 130px;
}

ul.longlist li {
  width: 220px;
}

.icon img {
  width: 20px;
  height: auto;
  padding-right: 10px;
  margin-bottom: -3px;
}