.footer {
  height: 80px;
  background-color: var(--main-darkgreen);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  position: relative;
  top: 40px;
}

.footer p {
  color: var(--background-color);
}

.footer a {
  color: var(--background-color);
}

@media only screen and  (max-width: 480px) {
  .footer {
    top: 10px;
  }
}
