.footer {
  height: 80px;
  background-color: var(--main-darkgreen);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  padding: 0 10%;
  position: relative;
  top: 0;
}

.footer p {
  color: var(--background-color);
}

.footer a {
  color: var(--background-color);
}

@media (max-width: 480px) {
  .footer {
    margin-top: 40px;
  }
}
