header {
  background-color: var(--background-color);
  box-shadow: 0 0 9px 3px rgba(41,41,41,.125);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

.navbar {
  max-width: 90vw;
  margin: auto;
}

header li {
  display: inline-block;
  padding: 0 30px;
}

.menu {
  float: right;
}

.menu a:link {
  color: var(--main-darkgreen);
}

.menu a:hover {
  text-decoration: underline;
}

header li a {
  text-decoration: none;
  background-color: var(--background-color);
}

.signature {
  display: block;
  float: left;
  width: 220px;
  height: 22px;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 0;
}

.menuIcon {
  display: none;
}

.menuBtn {
  display: none;
}


@media (max-width: 480px) {

  .signature {
    padding: 20px 10px;
  }

  header li {
    float: left;
    width: 100vw;
    background-color: var(--background-color);
  }

  header li a {
    display: block;
    padding: 10px 0;
  }

  /* menu */

  .menuToggle .menu {
    position: absolute;
    width: 100%;
    margin: -100px 0 0 -50px;
    padding-top: 100px;
    list-style: none;
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    background-color: var(--background-color);
    box-shadow: 0 0 9px 3px rgba(41,41,41,.125);
  }

  /* menu icon */

  .menuIcon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    z-index: 2;
  }

  .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .navicon:before,
  .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .navicon:before {
    top: 5px;
  }

  .navicon:after {
    top: -5px;
  }

  /* menu btn */

  .menuBtn:checked ~ .menu {
    transform: none;
  }

  .menuBtn:checked ~ .menuIcon .navicon {
    background: transparent;
  }

  .menuBtn:checked ~ .menuIcon .navicon:before {
    transform: rotate(-45deg);
  }

  .menuBtn:checked ~ .menuIcon .navicon:after {
    transform: rotate(45deg);
  }

  .menuBtn:checked ~ .menuIcon:not(.steps) .navicon:before,
  .menuBtn:checked ~ .menuIcon:not(.steps) .navicon:after {
    top: 0;
  }
}

@media only screen and  (max-width: 320px) {
  .signature {
    width: 200px;
    height: 20px;
  }
}
