.workpermit {
	background-color: rgba(230,231,232,0.75);
	padding: 10px 20px;
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.workpermit img {
	width: 60px;
	height: auto;
}

.workpermit p {
	padding-left: 20px;
	text-align: left;
	max-width: 40ch;
}

@media (max-width: 768px) {
}