.workpermit {
	display: flex;
	align-items: center;
	background-color: rgba(230,231,232,0.75);
	padding: 10px 20px;
	margin: 20px 0;
	max-width: 60ch;
}

.workpermit img {
	width: 40px;
	height: auto;
}

.workpermit p {
	padding-left: 20px;
	text-align: left;
}