@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');
/* Import Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import url('https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css');


div.app {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

/* Theme Color */
:root {
  --background-color: #fff;
  --main-darkgreen: #1f5636;
  --main-beige: #8f8350;
  --main-lightgrey: #e6e7e8;
  --main-darkgrey: #535353; 
}

body {
  line-height: 1.4em;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

a, a:link {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

.anchor {
    scroll-margin-top: 90px;
}

ul {
  line-height: 2em;
  list-style: none;
}

/* Icon Styling */
.material-icons, .fi {
  margin-right: 10px;
}
button span.material-icons {
  margin-right: 5px;
}

.material-icons {
  vertical-align: middle;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 4  00,
  'GRAD' 0,
  'opsz' 48
}


/* Header Rulesets*/

header {
  margin: 0;
  padding: 0 10%;
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  box-shadow: 0 0 9px 3px rgba(41,41,41,.125);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signature {
  width: 220px;
  height: 26.4px;
}

/* Language Picker */
.languagePicker {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 10px;
}

button span{
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1100px;
  margin: auto;
  background-color: var(--background-color);
  padding: 0 30px;
}

.container {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.box {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  height: auto;
  margin: 0px 15px 0px;
  padding: 0px 10px;
  background-color: rgba(230,231,232,0.75);
}

h1 {
  color: var(--main-darkgreen);
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.075em;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  color: var(--main-beige);
  font-size: 1.25rem;
  line-height: 1.2;
}

h3 {
  color: var(--main-beige);
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  text-align: center;
}

h4 {
  color: var(--main-darkgreen);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  text-align: center;
  margin-bottom: 0;
  padding: 0 5px;
}

h5 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  margin: 5px;
}

p {
  font-weight: 400;
  max-width: 60ch;
  font-size: 1rem;
}

strong {
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

/* Social Media Icons */

.github {
  width: 36.5px;
  height: 36.5px;
}

.behance, .linkedin, .instagram {
  padding: 4px;
}

.github:hover {
  fill: #7d349f;
}

.behance:hover {
  fill: #053eff;
}

.linkedin:hover {
  fill: #0e76a8;
}

.instagram:hover {
  fill: #dd2a7b;
}

/* Project Thumb Rulesets */

#projects h4 {
  padding: 0;
}

.project {
  width: 30%;
  padding-bottom: 40px;
}

@media only screen and (max-width: 1024px){

  .container {
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .project {
    width: 45%;
  }

}

@media only screen and (max-width: 768px){

  h1 {
    font-size: 1.75rem;
  }

  h1, h2 {
    text-align: center;
  }

  img.profile {
    margin: 10px 0 0;
  }

  .socialmedia {
    text-align: center;
  }

  .box {
    margin-bottom: 30px;
  }

  .project {
    width: 90%;
  }

}

@media only screen and  (max-width: 480px) {

  h1 {
    font-size: 1.5rem;
    letter-spacing: 0.05em;
  }

  .container {
    width: 100%;
    flex-flow: column wrap;
    align-items: center;
  }

  .box {
    padding: 0;
  }
}

